/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*! remove at the end */
  border: 0.5px solid red;
}

/* SETUP */
:root {
  /* background */
  --bg-main: rgb(40, 40, 40);
  --bg-sub: rgb(52, 52, 52);
  --bg-alt: rgb(30, 30, 30);
  /* matte pallet */
  --p01: #293556;
  --p02: #2e4583;
  --p03: #3e60c1;
  --p04: #5983fc;
  /* fallback font */
  --fbf: monospace, sans-serif;
}
/* set fonts */
* {
  font-family: 'Fira Code', var(--fbf);
}
h1 {
  font-family: 'Unbounded', var(--fbf);
}
/*! temporarily set image widths */
img {
  width: 50px;
}
