/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* SETUP */
:root {
  /* background */
  --bg-main: rgb(40, 40, 40);
  --bg-sub: rgb(52, 52, 52);
  --bg-alt: rgb(30, 30, 30);
  /* matte pallet */
  --p01: #293556;
  --p02: #2e4583;
  --p03: #3e60c1;
  --p04: #5983fc;
  /* fallback font */
  --fbf: monospace, sans-serif;
  /* font color */
  --fc: rgb(227, 215, 215);
}
/* set fonts */
* {
  font-family: 'Fira Code', var(--fbf);
  font-size: 0.9rem;
  color: var(--fc);
}
h1 {
  font-family: 'Unbounded', var(--fbf);
  font-size: 1.15rem;
}
/* set general styles */
img {
  display: block;
}
hr {
  border: 1px solid rgb(52, 52, 52);
}
strong {
  color: var(--p04);
}
a {
  text-decoration: none;
}
/* set main container layout */
.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
}
.search {
  background-color: var(--bg-alt);
  grid-area: 1 / 2 / 2 / 3;
}
.sidebar {
  background-color: var(--bg-main);
  grid-area: 1 / 1 / 3 / 2;
}
.dashboard {
  background-color: var(--bg-sub);
  grid-area: 2 / 2 / 3 / 3;
}
/* SEARCH */
/* container */
.search {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 5fr 3fr;
  row-gap: 5px;
  padding: 10px;
}
/* grid items */
.search-bar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.search-bar input {
  height: 25px;
  margin: 5px;
  min-width: 90%;
  padding: 0 8px;
  border-radius: 1rem;
  border: none;
  background-color: var(--bg-sub);
}
.search-bar button {
  background-color: transparent;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.search-bar svg {
  fill: var(--p04);
}
.notify {
  grid-area: 1 / 2 / 2 / 3;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.notify svg {
  width: 25px;
  height: 25px;
  fill: var(--p04);
  cursor: pointer;
}
.notify img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.notify p {
  font-weight: bold;
}
.welcome {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.welcome img {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
.actions {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.actions button {
  color: var(--bg-alt);
  background-color: var(--p04);
  width: 80px;
  height: 30px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.actions button:hover {
  color: var(--p04);
  background-color: var(--bg-alt);
  border: 0.5px solid var(--p04);
}
/* SIDEBAR */
/* container */
.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* grid items */
.sidebar svg {
  fill: var(--fc);
  width: 20px;
}
.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  cursor: pointer;
}
.sidebar li:nth-child(6) {
  padding-bottom: 20px;
}
.sidebar li:nth-child(8) {
  padding-top: 20px;
}
.sidebar header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.sidebar .s-title svg {
  fill: var(--p04);
  min-width: 95px;
}
.s-tabs li:hover svg,
.s-tabs li:hover {
  color: var(--p04);
  fill: var(--p04);
}
/* DASHBOARD */
/* container */
.dashboard {
  display: grid;
  grid-template-rows: 3fr 4fr;
  grid-template-columns: 7fr 3fr;
  padding: 25px;
  gap: 15px;
}
/* grid items */
.projects {
  grid-area: 1 / 1 / 3 / 2;
}
.projects header {
  padding-left: 15px;
}
.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 20px;
}
.projects-content div {
  background-color: var(--bg-alt);
  padding: 20px 20px 10px 20px;
  border-radius: 0.75rem;
}
.projects div img {
  max-height: 140px;
  border: 0.5px solid var(--p02);
  border-radius: 0.5rem;
  margin: 10px auto;
  /* animation */
  transition: transform 0.2s;
  cursor: pointer;
}
.projects div img:hover {
  transform: scale(1.05);
}
.projects svg {
  width: 30px;
  padding: 5px;
  fill: var(--p04);
  cursor: pointer;
}
.projects svg:hover {
  fill: var(--fc);
}
.git {
  float: right;
}
.announcements header {
  padding-left: 15px;
}
.announce-content {
  background-color: var(--bg-alt);
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75rem;
  gap: 20px;
}
.trending header {
  padding-left: 15px;
}
.trending img {
  border-radius: 100%;
  width: 50px;
}
.trend-content {
  background-color: var(--bg-alt);
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75rem;
  gap: 20px;
}
.trend-content > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
